<%#= render 'shared/navbar' %>
<div class="container">
  <table class="table">
    <h3>My Outgoing Workout Requests</h3>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Workout</th>
        <th scope="col">Trainer</th>
        <th scope="col">When</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @outgoing_requests.each do |booking| %>
        <tr>
          <th scope="row"></th>
          <td><%= booking.workout.name %>, <%= booking.workout.category %>, <%= booking.workout.location %></td>
          <td><%= booking.workout.user.name %></td>
          <td><%= booking.date_time %></td>
          <td><%= booking.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <br>
  <table class="table">
    <h3>Requests for My Workouts</h3>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Workout</th>
        <th scope="col">Participant</th>
        <th scope="col">When</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @my_workouts.each do |workout| %>
        <% workout.bookings.each do |booking| %>
          <tr>
            <th scope="row"></th>
            <td><%= workout.name %>, <%= booking.workout.category %>, <%= booking.workout.location %></td>
            <td><%= booking.user.name %></td>
            <td><%= booking.date_time %></td>
            <td><%= booking.status %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>


