<!-- <div class="container my-info">
  <div class="row">
    <div class="col"><img src=<%#= cl_image_path(current_user.photo.key, width: 200, height: 200, crop: :thumb, gravity: :face) %>></div>
    <div class="col">
      <p>Your Bio:</p>
      <p><%#= current_user.bio %></p>
    </div>
    <div class="col">
      <p>Your Location:</p>
      <p><%#= current_user.location %></p>
    </div>
  </div>
</div> -->
<div class="row nav-fix">
  <div class="col nav-col">
    <%= render 'shared/sidebar' %>
  </div>
  <div class="col dashboard-booking-manager">
    <!-- Workout requests -->
    <div class="container">
      <table class="table">
        <h1>My Dashboard</h1>
        <p>Manage your Bookings!</p>
        <h3>My Outgoing Workout Requests</h3>
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Workout</th>
            <th scope="col">Trainer</th>
            <th scope="col">When</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% @outgoing_requests.each do |booking| %>
            <tr>
              <th scope="row"></th>
              <td>
                <p><%= booking.workout.name %>,</p>
                <p><%= booking.workout.location %></p>
              </td>
              <td><%= booking.workout.user.name %></td>
              <td><%= booking.date_time %></td>
              <td><%= booking.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <br>
      <% if current_user.workouts.count > 0 %>
        <table class="table">
          <h3>Requests for My Workouts</h3>
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Workout</th>
              <th scope="col">Participant</th>
              <th scope="col">When</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @my_workouts.each do |workout| %>
              <% workout.bookings.each do |booking| %>
                <tr>
                  <th scope="row"></th>
                  <td>
                    <p><%= workout.name %>,</p>
                    <p><%= booking.workout.location %></p>
                  </td>
                  <td><%= booking.user.name %></td>
                  <td><%= booking.date_time %></td>
                  <td><%= booking.status %></td>
                  <td><%= simple_form_for booking do |f| -%>
                      <%= f.hidden_field :status, value: "confirmed" %>
                      <%= f.button :submit, "Confirm", class: "btn btn-success" %>
                    <% end -%></td>
                  <td><%= simple_form_for booking do |f| -%>
                      <%= f.hidden_field :status, value: "declined" %>
                      <%= f.button :submit, "Decline", class: "btn btn-danger" %>
                    <% end -%></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
      });
  });
</script>