<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">""</th>
        <th scope="col">Workout</th>
        <th scope="col">Trainer</th>
        <th scope="col">When</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <% @outgoing_requests.each do |booking| %>
          <td><%= booking.workout.name %>, <%= booking.workout.category %>, <%= booking.workout.location %></td>
          <td><%= booking.workout.user.name %></td>
          <td><%= booking.date_time %></td>
        <% end %>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
