<div class="workout-card">
        <%= link_to '', workout_path(workout), class: 'card-link'  %>
        <div class="card-workout mb-4 rounded">
          <img src="<%= "https://source.unsplash.com/150x150/?#{workout.category}" %>" />
          <div class="card-workout-infos">
            <div>
              <p><%= workout.location %></p>
              <h2><strong><%= workout.name %></strong></h2>
              <p><%= workout.category %></p>
              <p><%= workout.user.name %></p>
            </div>
            <div>
              <h6>¥<%= workout.price %></h6>
            </div>
          </div>
        </div>
      </div>
