<div class="workout-card">
        <%= link_to '', workout_path(workout), class: 'card-link'  %>
        <div class="card-workout mb-4">
          <img src="<%= "https://source.unsplash.com/600x300/?#{workout.category}" %>" />
          <div class="card-workout-infos">
            <p><%= workout.location %></p>
            <h2><strong><%= workout.name %></strong></h2>
            <p><%= workout.category %></p>
            <p><%= workout.user.name %></p>
          </div>
        </div>
      </div>
