<div class="show-banner nav-fix" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%=@workout.photo.attached? ? cl_image_path(@workout.photo.key) : image_path("https://source.unsplash.com/1200x800/?#{@workout.category}") %>);">
  <div class="container d-flex flex-column justify-content-center">
    <h1><%= @workout.name %></h1>
    <p><%= @workout.category.capitalize %></p>
  </div>
</div>
<div class="container d-flex">
  <div class="d-flex my-5">
    <div class="workout-discription mr-5">
      <div class="workout-text-info rounded">
        <h2><%= @workout.name %> is...</h2>
        <p>  <%= @workout.description %>  </p>
        <div class="trainer-card mt-4 p-2">
          <%= image_tag User.find(@workout.user_id).photo.attached? ? cl_image_path(User.find(@workout.user_id).photo.key, width: 200, height: 200) : "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png", class: "avatar-large", alt: "avatar-large" %>
          <div class="trainer-avatar">
            <h4>Trainer: <%= @workout.user.name %></h4>
            <p>  <%= @workout.user.bio %>  </p>
          </div>
      </div>
      </div>
      <%= render "shared/map", styling: "width: 100%; height: 350px;", class_name: "map-show" %>
    </div>
    <div class="book-card">
      <div class="align-items-center bg-secondary p-4 rounded" style="box-shadow: 3px 3px 10px rgba(0, 0, 0, .2)" id="override">
        <h3 class="border-bottom">Book this Workout! </h3>
        <h2 class="mt-3" style="text-align: right; font-weight: bold">¥<%= @workout.price %></h2>
        <%= simple_form_for @booking do |f| %>
          <%= f.input :date_time, html5: true, input_html: { min: Date.today } %>
          <%= f.input :comment %>
          <%= f.hidden_field :workout_id %>
          <%= f.button :submit, class: "btn btn-flat w-100"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
