<div class="show-banner nav-fix" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://www.womensrunning.com/wp-content/uploads/2015/07/yoga-on-the-beach.jpg?crop=535:301&width=1070&enable=upscale');">
  <div class="container">
    <h1><%= @workout.name %></h1>
    <p class="mt-2"><i><%= @workout.category %></i>i</p>
  </div>
</div>

<div class="container">
    <div class="d-flex justify-content-between m-5">
      <div class="workout-discription">

        <h2><%= @workout.name %> is...</h2>

        <p>  <%= @workout.description %>  </p>


      </div>
      <div class="align-items-center bg-secondary p-2 rounded">
        <h2 class= "border-bottom">Book your Workout! </h2>

        <%= simple_form_for @booking do |f| %>
        <%= f.input :date_time, html5: true, input_html: { min: Date.today } %>
        <%= f.input :comment %>
        <%= f.hidden_field :workout_id %>
        <%= f.button :submit, class: "btn btn-primary"  %>
        <% end %>



      </div>
    </div>
  </div>
</div>
